:root {
  --bleu: #5A86BF;
  --bleuciel: #7E9ABF;
  --taupe: #A67153;
  --marron: #A67C49;
  --clair: #C1C9D9;
  --blanc: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
label:not(:first-child){
  margin-top: 2rem;
}
input{
  border-radius: 5px;
  border: none;
  padding: .3rem;
}
input[type=submit]{
  padding: .5rem;
  margin: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}
textarea{
  resize: none;
  height: 5rem;
}
.error{
  color: red;
}
body {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--clair);
}

.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.container {
  min-height: calc(100vh - 220px);
}
#masthead {
  padding: 1rem 0;
  background-color: var(--bleu);
  height: 60px;
  nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    li a {
      color: var(--blanc);
    }
  }
}

#colophon {
  background-color: var(--bleu);
  color: var(--blanc);
  padding: 1rem 0;
  text-align: center;
  height: 60px;
}

#debug{
  display: flex;
  position: relative;

  .debug_logo {
    display: block;
    width: 60px;
    height: 60px;
    background: #79C1C8;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
    border: 2px solid #E8E61A;
    cursor: pointer;

    svg{
      width: 40px;
      height: 40px;
      fill: #E8E61A;
      margin: .5rem;
      z-index: 10;
    }
  }

  .debug_bar {
    display: none;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background: #79C1C8;
    color: black;
    text-align: center;
    border: 1px solid #E8E61A;

    &.open {
      display: block;
    }
  }
}



